<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TerraGuess</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
  <h1>Welcome to TerraGuess</h1>
  <h2>Test your geography skills by guessing locations based on street view images!</h2>
  <a href="/singleplayer"><button>Start Single Player Game</button></a>
  <h2>Create a Party</h2>
  <p>Invite your friends and play together!</p>
  <button>Create Party</button>

</body>
</html>